<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>servletAlta</servlet-name>
        <servlet-class>AcademicNetwork.servletAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletActivar</servlet-name>
        <servlet-class>AcademicNetwork.servletActivar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>AcademicNetwork.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBuscar</servlet-name>
        <servlet-class>AcademiaNetwork.servletBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarFavorito</servlet-name>
        <servlet-class>AcademicNetwork.agregarFavorito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarFavorito</servlet-name>
        <servlet-class>AcademicNetwork.eliminarFavorito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearPublicacion</servlet-name>
        <servlet-class>AcademicNetwork.crearPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unirseGrupo</servlet-name>
        <servlet-class>AcademicNetwork.unirseGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearComentario</servlet-name>
        <servlet-class>AcademicNetwork.crearComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearPubVarias</servlet-name>
        <servlet-class>AcademicNetwork.crearPubVarias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarComentario</servlet-name>
        <servlet-class>AcademicNetwork.eliminarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarPublicacion</servlet-name>
        <servlet-class>AcademicNetwork.eliminarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearMensaje</servlet-name>
        <servlet-class>AcademicNetwork.crearMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEliminar</servlet-name>
        <servlet-class>AcademicNetwork.servletEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCamContra</servlet-name>
        <servlet-class>AcademicNetwork.servletCamContra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRecupera</servlet-name>
        <servlet-class>AcademicNetwork.servletRecupera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSolicitud</servlet-name>
        <servlet-class>AcademicNetwork.servletSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechazar</servlet-name>
        <servlet-class>AcademicNetwork.rechazar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seguimiento</servlet-name>
        <servlet-class>AcademicNetwork.seguimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descargarArchivo</servlet-name>
        <servlet-class>AcademicNetwork.descargarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroAcademia</servlet-name>
        <servlet-class>AcademicNetwork.registroAcademia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletAlta</servlet-name>
        <url-pattern>/servletAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletActivar</servlet-name>
        <url-pattern>/servletActivar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBuscar</servlet-name>
        <url-pattern>/servletBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarFavorito</servlet-name>
        <url-pattern>/agregarFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarFavorito</servlet-name>
        <url-pattern>/eliminarFavorito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearPublicacion</servlet-name>
        <url-pattern>/crearPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unirseGrupo</servlet-name>
        <url-pattern>/unirseGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearComentario</servlet-name>
        <url-pattern>/crearComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearPubVarias</servlet-name>
        <url-pattern>/crearPubVarias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarComentario</servlet-name>
        <url-pattern>/eliminarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarPublicacion</servlet-name>
        <url-pattern>/eliminarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearMensaje</servlet-name>
        <url-pattern>/crearMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEliminar</servlet-name>
        <url-pattern>/servletEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCamContra</servlet-name>
        <url-pattern>/servletCamContra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRecupera</servlet-name>
        <url-pattern>/servletRecupera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSolicitud</servlet-name>
        <url-pattern>/servletSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechazar</servlet-name>
        <url-pattern>/rechazar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguimiento</servlet-name>
        <url-pattern>/seguimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descargarArchivo</servlet-name>
        <url-pattern>/descargarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroAcademia</servlet-name>
        <url-pattern>/registroAcademia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
